@font-face {
  font-family: "Cinzel";
  src: url("../assets/Cinzel-VariableFont_wght.ttf") format("truetype");
}

body {
  background: url("../assets/gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: "Cinzel";
  user-select: none;
}

h1 {
  font-size: 4rem;
  text-align: center;
  animation: slide-in 2s ease-in-out 1;
  margin: 0;
}

body > p {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  animation: reveal 2s ease-in-out 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.instructions > ul {
  font-size: max(1.2rem, 1vw);
  animation: reveal 3s ease-in-out 1;
}

.preview > img {
  width: 100%;
  height: auto;
  outline: #6600ff dashed 5px;
  animation: slide-in 3s ease-in-out 1;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.play > button {
  font-size: 2rem;
  padding: 15px;
  border-radius: 1rem;
  background-color: #6600ff;
  opacity: 0.75;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  animation: glow 10s ease-in-out infinite;
}

.play > button:hover {
  opacity: 1;
  animation: jiggle 1s ease-in-out 1;
}
