.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#name-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

#name-form > label,
#name-form > input,
#name-form > input[type="button"] {
  font-size: 1.5rem;
}

#name-form > input[type="text"] {
  width: 10rem;
  height: 1rem;
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

#name-form > input[type="text"]:focus {
  outline: none;
  border: 1px solid black;
}

#name-form > input[type="button"] {
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#name-form > input[type="button"]:hover {
  border: 1px solid black;
  color: black;
}

.ship-placer {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.8fr;
  gap: 1rem;
  justify-items: center;
}

.ship-selection,
.ship-grid,
.instructions {
  outline: 3px solid white;
}

.ship-selection {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 10fr;
  align-items: center;
  justify-items: center;
}

.ship-selection > div > h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
}

.ships {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.ship-container {
  width: 100%;
}

.ship {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ship > div {
  width: 40px;
  height: 40px;
  outline: 0.2px solid white;
  background-color: #6600ff;
}

.ship:hover {
  cursor: pointer;
  outline: white dotted 1px;
}

.ship-name {
  text-align: center;
  user-select: none;
}

#left-click {
  width: 30px;
  height: 30px;
}

.ship-grid {
  width: 400px;
  height: 400px;
}

.instructions {
  width: 300px;
  height: 400px;
}
