body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("./assets/gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-board-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-board {
  width: 400px;
  height: 400px;
  outline: 3px solid white;
}

.row {
  display: flex;
  flex-direction: row;
}

.row,
.col {
  min-width: 40px;
  min-height: 40px;
  outline: 0.2px solid white;
}

.occupied {
  background-color: #6600ff;
  opacity: 0.65;
}

.hit {
  background-color: #ff0000;
  opacity: 0.85;
}

.hit:hover {
  cursor: not-allowed !important;
  background-color: #ff0000 !important;
}

.miss {
  background-color: #ffffff;
  opacity: 0.85;
}

.miss:hover {
  cursor: not-allowed !important;
  background-color: #ffffff !important;
}

.player-side,
.computer-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.player-name,
.computer-name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  user-select: none;
}

.computer-board > .row > .col:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

/* .col:hover {
  background-color: #f5f5f5;
} */
